<section id="contact">
  <div class="banner">
    <div class="container">

      <div class="row">
        <div class="col-lg-6">
          <h2>Scrivici!</h2>
        </div>
        <div class="col-lg-6">
          <div class="row ">
            <form role="form" method="POST" action="//formspree.io/mem@gaito.net" id="contact-form" >
              <input type="hidden" name="_subject" value="Contatti da sito" />
              <input type="text" name="_gotcha" style="display:none" />
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <input type="email" class="form-control" name="_replyto" autocomplete="off" id="email" placeholder="La tua email">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <textarea class="form-control textarea" rows="3" name="message" id="message" placeholder="Scrivi qua"></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button type="submit" class="btn-block btn-lg btn">Invia</button>
                </div>
              </div>
            </form>
          </div>
          </form>
        </div>
      </div>

    </div>
    <!-- /.container -->

  </div>
</section>
<!-- /.banner -->
